**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
serverless-output.yaml
**/results.xml
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*pycache
**/__pycache__
.pytest_cache
*coverage*
venv/
*.zip
**/.terraform*
terraform/init.sh
zen.txt
*.tfstate*
test_api/plan_playground.py
01_git_exercises/get-last-10-words.sh
01_git_exercises/get-word-count.sh
